.app {
  text-align: center;
  /*background-color: #2a3959;*/
  background-color: #021419;
  min-height: 100vh;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.app__home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.app h2 {
  font-size: 40px;
  padding: 10px;
}
