.app {
  text-align: center;
  /*background-color: #2a3959;*/
  background-color: #021419;
  min-height: 100vh;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.app__home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.app h2 {
  font-size: 40px;
  padding: 10px;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 600;
}

@media (max-width: 600px) {
  .app h2 {
    font-size: 24px;
    padding: 10px;
  }
}
