.footer {
  color: whitesmoke;
  background-image: linear-gradient(
    160deg,
    rgba(173, 216, 230, 0.7),
    rgba(173, 216, 230, 0.9)
  );
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
  bottom: 0;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Quattrocento", serif;
  font-weight: 600;
}

.footer h3 a {
  color: whitesmoke;
  text-decoration: none;
}

.footer h3 a:hover {
  text-decoration: underline;
}

.footer p a {
  color: whitesmoke;
  text-decoration: none;
}

.footer a {
  color: whitesmoke;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
