.header {
  text-align: center;
}

.header h1 {
  font-size: 50px;
  padding: 60px 0px 40px 0px;
  margin: 0;
}

.header__nav {
  background-color: #8be78b;
  border-radius: 3px;
  padding: 6px;
}

.header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
}

.header__link {
  list-style: none;
  display: flex;
}

.header button {
  background-color: #8be78b;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
}

.header button:hover {
  border: 1px solid #000;
  padding: 7px 15px;
}

.header__homeLink {
  margin-top: 25px;
}
