.general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Quattrocento", serif;
  font-weight: 700;
}

.general__joke {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jokeSetUp {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    160deg,
    rgba(173, 216, 230, 0.6),
    rgba(173, 216, 230, 0.8)
  );
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 55px;
  width: 50%;
  margin: 15px;
}

.jokePunchline {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    160deg,
    rgba(173, 216, 230, 0.6),
    rgba(173, 216, 230, 0.8)
  );
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 55px;
  width: 50%;
  margin: 15px;
}
