.general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Quattrocento", serif;
  font-weight: 700;
}

.general__joke {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
}

.jokeSetUp {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    160deg,
    rgba(173, 216, 230, 0.6),
    rgba(173, 216, 230, 0.8)
  );
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 55px;
  width: 50%;
  margin: 15px;
}

.jokePunchline {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    160deg,
    rgba(173, 216, 230, 0.6),
    rgba(173, 216, 230, 0.8)
  );
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 55px;
  width: 50%;
  margin: 15px;
}

.revealButton{
  margin-block: 35px;
  color: #021419;
  background-color: lightblue;
  border: none;
  border-radius: 8px;
  padding: 10px;
  padding-inline: 18px;
  font-size: 18px;
  font-weight: 700;
}

.home_button{
  background-color: whitesmoke;
  color: #021419;
  padding: 10px;
  border-radius: 3px;
  border: none;
  font-size: 18px;
  font-weight: 700;
}
